@model FotoDB.Models.AutorModel

@{
    ViewData["Title"] = "Create_dwa";
}

<h1>Create_dwa</h1>

<h4>AutorModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create_dwa">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nazwisko" class="control-label"></label>
                <input asp-for="Nazwisko" class="form-control" />
                <span asp-validation-for="Nazwisko" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imie" class="control-label"></label>
                <input asp-for="Imie" class="form-control" />
                <span asp-validation-for="Imie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KrajModelID" class="control-label"></label>
                <select asp-for="KrajModelID" class="form-control" asp-items="ViewBag.listKrajs"></select>
            </div>


            @*<div class="form-group">
                @Html.LabelFor(model => model.KrajModelID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ViewBag.KrajModel_ID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.KrajModelID, "", new { @class = "text-danger" })
                </div>
            </div>*@

            @*<div class="form-group">
                @Html.LabelFor(model => model.KrajModelID, "CategoryId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.KrajModelID, "", new { @class = "text-danger" })
                </div>
            </div>*@

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
