@model FotoDB.Models.FotoModel

@{
    ViewData["Title"] = "Edytujesz zdjęcie: " + ViewData.Model.FotoTytul + ViewData.Model.FotoRozszerzenie;
}

<h1>Edytujesz zdjęcie: @Html.DisplayFor(model => model.FotoTytul)@Html.DisplayFor(model => model.FotoRozszerzenie)</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FotoModelID" />
            <div class="form-group">
                <label asp-for="DataWykonania" class="control-label"></label>
                <input asp-for="DataWykonania" class="form-control" placeholder="Podaj datę wykonania"/>
                <span asp-validation-for="DataWykonania" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FotoTytul" class="control-label"></label>
                <input asp-for="FotoTytul" class="form-control" placeholder="Podaj tytuł"/>
                <span asp-validation-for="FotoTytul" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FotoData" class="control-label"></label>
                @{
                    string imageData;
                    string extention = Model.FotoRozszerzenie;
                    switch (extention)
                    {
                        case ".png":
                            {
                                imageData = @"data:image / png; base64," + Convert.ToBase64String(Model.FotoData);
                                break;
                            }
                        case ".jpg":
                            {
                                imageData = @"data:image / jpg; base64," + Convert.ToBase64String(Model.FotoData);
                                break;
                            }
                        default:
                            {
                                imageData = @"data:image / jpeg; base64," + Convert.ToBase64String(Model.FotoData);
                                break;
                            }
                    }
                }
                <img src=@imageData asp-append-version="true" width="250" />
                <!--<input asp-for="FotoData" class="form-control" />
                <span asp-validation-for="FotoData" class="text-danger"></span>-->

                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" accept="image/*" placeholder="Wybierz plik"/>
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FotoRozszerzenie" class="control-label"></label>
                <input asp-for="FotoRozszerzenie" class="form-control" placeholder="Podaj rozszerzenie"/>
                <span asp-validation-for="FotoRozszerzenie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" placeholder="Podaj opis zdjęcia"/>
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AutorModelID" class="control-label"></label>
                @*@{
                    FotoDB.Contexts.FotoDBContext manager = new FotoDB.Contexts.FotoDBContext();
                    List<FotoDB.Models.AutorModel> listAutors = manager.Autors.ToList();
                    listAutors.Sort((x, y) => string.Compare(x.Nazwisko, y.Imie));

                    <select asp-for="AutorModelID" class="form-control">
                        @{
                            <option value="" disabled hidden selected>Select Autor</option>
                            foreach (FotoDB.Models.AutorModel a in listAutors)
                            {
                                <option value="@a.AutorModelID">
                                    <column>@a.Nazwisko</column>
                                    <column>@a.Imie</column>
                                </option>
                            }
                        }
                    </select>
                }*@
                <select asp-for="AutorModelID" class="form-control" asp-items="ViewBag.ListAutors"></select>
                <span asp-validation-for="AutorModelID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-route-id="@Model.FotoModelID" class="btn btn-info">Powrót do szczegółów</a>
    <a asp-action="Index" class="btn btn-info">Powrót do listy zdjęć</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
