@model IEnumerable<FotoDB.Models.FotoModel>

@{
    ViewData["Title"] = "Zdjęcia";
}

<h1>Zdjęcia</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Dodaj nowe</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FotoModelID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataWykonania)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FotoTytul)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FotoData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FotoRozszerzenie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutorModelID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FotoModelID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataWykonania)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FotoTytul)
            </td>
            <td> 
                @{ 
                    string imageData;
                    string extention = item.FotoRozszerzenie;
                    switch (extention)
                    {
                        case ".png":
                            {
                                imageData = @"data:image / png; base64," + Convert.ToBase64String(item.FotoData);
                                break;
                            }
                        case ".jpg":
                            {
                                imageData = @"data:image / jpg; base64," + Convert.ToBase64String(item.FotoData);
                                break;
                            }
                        default:
                            {
                                imageData = @"data:image / jpeg; base64," + Convert.ToBase64String(item.FotoData);
                                break;
                            }
                    }
                }
                <img src=@imageData asp-append-version="true" width="250px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FotoRozszerzenie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutorModelID)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.FotoModelID" class="btn btn-info">Pokaż szczegóły</a>
            </td>
        </tr>
}
    </tbody>
</table>
