@model IEnumerable<FotoDB.Models.FotoModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FotoModelID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataWykonania)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FotoTytul)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FotoData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FotoRozszerzenie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutorModelID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FotoModelID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataWykonania)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FotoTytul)
            </td>
            <td> 
                @{ 
                    string imageData = @"data:image / jpeg; base64," + Convert.ToBase64String(item.FotoData);
                }
                <img src=@imageData asp-append-version="true" width="250px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FotoRozszerzenie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutorModelID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FotoModelID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FotoModelID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FotoModelID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
