@model FotoDB.Models.KrajModel

@{
    ViewData["Title"] = "Szczegóły kraju: " + ViewData.Model.Nazwa;
}

<h1>Szczegóły kraju: @Html.DisplayFor(model => model.Nazwa)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KrajModelID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KrajModelID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nazwa)
        </dd>
    </dl>
</div>
<div class="btn-group" role="group" aria-label="Basic example">
    <a asp-action="Edit" asp-route-id="@Model.KrajModelID" class="btn btn-primary">Edytuj</a>
    <a asp-action="Delete" asp-route-id="@Model.KrajModelID" class="btn btn-danger">Usuń</a>
    <a asp-action="Index" class="btn btn-info">Powrót do listy krajów</a>
</div>
