@model IEnumerable<FotoDB.Models.KrajModel>

@{
    ViewData["Title"] = "Kraje";
}

<h1>Kraje</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Dodaj nowy</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KrajModelID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KrajModelID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.KrajModelID" class="btn btn-info">Pokaż szczegóły</a>
            </td>
        </tr>
}
    </tbody>
</table>
